<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Book Quotes</h1>
    <form hx-post="/add-quote/" hx-target="#quotes-feed" hx-swap="afterbegin">
        <label for="book">Book</label>
        <input name="book" placeholder="Book">
        <label for="quote">Quote</label>
        <input name="quote" placeholder="Quote">
        <button type="submit">Add Quote</button>
    </form>
    <div id="quotes-feed">
        {{ range .Quotes }}
            {{ block "quote" .}}
                <div class="quote">
                    <h2>{{ .Book }}</h2>
                    <p>{{ .Quote }}</p>
                    <p>{{ .DateSubmitted }}</p>
                </div>
            {{ end }}
        {{ end }}
    </div>
</body>
</html>  
